<nav class="bg-gray-50  z-20 fixed top-0 w-full">
    <div class=" px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" class="inline-flex items-center justify-center rounded-md p-2 text-black hover:bg-green-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-black" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--
              Icon when menu is closed.
  
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
              Icon when menu is open.
  
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <img class="block h-8 w-auto lg:hidden transform " [src]="imageUrl" alt="Your Company">
            <img class="hidden h-8 w-auto lg:block transform " [src]="imageUrl" alt="Your Company">
            <h1 class="heading w-auto ps-2 font-bold text-lg">ShortGen</h1>
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="#" class="text-black hover:bg-green-400 rounded- md px-3 py-2 text-sm font-medium" aria-current="page">Dashboard</a>
              <a href="#" class="text-black hover:bg-green-400 hover:text-black rounded-md px-3 py-2 text-sm font-medium">Team</a>
              <a href="#" class="text-black hover:bg-green-400 hover:text-black rounded-md px-3 py-2 text-sm font-medium">Projects</a>
              <a href="#" class="text-black hover:bg-green-400 hover:text-black rounded-md px-3 py-2 text-sm font-medium">Calendar</a>
            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <button type="button" class="rounded-full  p-1  hover:text-black hover:bg-green-400 text-gray-400 focus:outline-none focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
            <span class="sr-only">View notifications</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
            </svg>
          </button>
  
          <!-- Profile dropdown -->
          <div class="relative ml-3">
            <div>
              <button type="button" class="flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <span class="sr-only">Open user menu</span>
                <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
              </button>
            </div>
  
            <!--
              Dropdown menu, show/hide based on menu state.
              Entering: "transition ease-out duration-100"
                From: "transform opacity-0 scale-95"
                To: "transform opacity-100 scale-100"
              Leaving: "transition ease-in duration-75"
                From: "transform opacity-100 scale-100"
                To: "transform opacity-0 scale-95"
            -->
            <div class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="horizontal" aria-labelledby="user-menu-button" tabindex="-1">
              <!-- Active: "bg-gray-100", Not Active: "" -->
              <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
              <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
              <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="hidden" id="mobile-menu">
      <div class="space-y-1 px-2 pb-3 pt-2">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Dashboard</a>
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Team</a>
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Projects</a>
        <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Calendar</a>
      </div>
    </div>
  </nav>
  <!-- <div class="h-full bg-green-200 origin-bottom -rotate-6 z-0">
   
  </div>

  <div class="h-5/6 bg-red-200 z-10" style="position: relative;">

  </div> -->


  <div class="relative h-4/5 sm:w-full">
    <div class="absolute inset-0 bg-green-200 origin-bottom -rotate-6 z-0">

    </div>
    <div class="absolute w-full top-0 left-0 right-0 bottom-20 bg-green-200 z-10 flex items-center justify-around">
       <div>
        <h2 class="text-3xl italic font-semibold mb-5">URL Shortener</h2>
        <h2 class="text-4xl text-gray-600 mb-5 uppercase font-semibold">Here you have full control<br>over your links</h2>
        <p class="text-black text-xl font-bold">URL Shortener, Link Analytics,<br>
          QR Codes Generator and Link in bio Platform.<br>
          Shorten, brand, manage, track and share your links the easy way.</p>
        <button type="button" class="px-4 py-2 bg-green-300  hover:bg-green-400 mt-5 font-bold border rounded">Expolore <span class="ps-2"><i class="fas fa-arrow-right"></i></span></button>
       </div>
       <div> 
        <img class="w-auto lg:block transform lg:h-40 hidden md:block" [src]="Qrcode" alt="Qr code">
       </div>
    </div>
  </div>  

<div>
  <div class="flex justify-center mt-20">
    <form (ngSubmit)="submiturl()" [formGroup]="converturl" class="flex flex-row w-1/2 ">
      <input type="text" formControlName="shortUrl" class="min-w-full border-green-300 border-2  h-14 rounded-l-lg focus:border-green-700 p-4" placeholder=" Paste long url and shorten it">
      <button class="submit bg-green-300 px-10 text-black font-semibold border rounded-r-lg  h-14" type="submit"><span *ngIf="loading">
        <svg aria-hidden="true" role="status" class="inline mr-3 w-4 h-4 text-black animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"></path>
                                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"></path>
                                    </svg>
                                    </span><span *ngIf="!loading">Shorten</span>
      </button>
    </form>
  </div>
  
</div>

<div   *ngIf="urldetails" class="flex justify-center mt-3">
  <div  class="flex md:w-2/5 ">
    <p  class="min-w-full border-green-300 border-2 text-center p-3 h-8 rounded-l-lg">
      {{hostname+urldetails.shortUrl}}
    </p>
    <button (click)="copyText()" class=" bg-green-300 px-10 text-black font-semibold border rounded-r-lg h-8">Copy</button>
  </div>
</div>

<div class="mt-10 flex flex-col justify-center text-center">
  <h1 class="text-green-400 text-center text-2xl mb-3">What is shortGen  <span class="font-bold text-red-700">?</span></h1>
 <div class="flex justify-center">
  <p class="text-center text-xl leading-loose lg:w-2/3">ShortGen is a all-in-one Link Management Platform for all your links and needs. It is an advanced URL 
    Shortener with extensive Link Analytics. ShortGen offers solutions that will allow you to manage your 
   links, thanks to which you can develop your business while having your links under control.
    ShortGen is also a platform for creating your own Link in bio microsites and generating QR Codes,
   so you can combine offline and online solutions.
   </p>
 </div>
</div>

<div class="lg:px-8 mt-5 mb-5">
  <div class="flex justify-around flex-col md:flex-row">
    <div class="md:w-1/5 border-4 border-green-100 rounded-lg p-2 py-3">
      <div class="flex justify-center mb-3">
        <div class="flex flex-col items-center">
          <img [src]="linkimg" alt="" class="h-10 w-10 mb-3">
          <h1 class="font-bold">URL Shortener</h1>
        </div>
      </div>
      <div>
          <p class="text-justify">
            ShortGen is a URL Shortener with a lot offeatures that will help you handle all your links in an intuitive way and reveal the potential of your links.
          </p>
      </div>
    </div>
    <div class="md:w-1/5 border-4 border-green-100 rounded-lg p-2">
      <div class="flex justify-center mb-3">
        <div class="flex flex-col items-center">
          <img [src]="linkimg" alt="" class="h-10 w-10 mb-3">
          <h1 class="font-bold">URL Shortener</h1>
        </div>
      </div>
      <div>
          <p class="text-justify">
            ShortGen is an advanced
            Link Analytics platform 
           that tracks clickson short
            links and measures the 
           effectiveness of clicks.</p>
      </div>
    </div><div class="md:w-1/5 border-4 border-green-100 rounded-lg p-2">
      <div class="flex justify-center mb-3">
        <div class="flex flex-col items-center">
          <img [src]="linkimg" alt="" class="h-10 w-10 mb-3">
          <h1 class="font-bold">URL Shortener</h1>
        </div>
      </div>
      <div>
          <p class="text-justify">
            Generate QR codes and 
            customize them according 
            to your style and manage 
            their redirection so that QR
             codes reflectyour brand and
             allow you to grow your 
            business.          </p>
      </div>
    </div>
  </div>
</div>

<div class="mb-5 md:ps-10 mt-6">
<h1 class="mb-3">Marketing Reporting & Analytics</h1>
<h1 class="text-lg font-bold mb-4">Understand what’s resonating with your audience</h1>
<p>Capture data with every click; make smarter decisions about which content and platforms to focus your efforts and dollars on.</p>
</div>

<div class="container flex flex-col md:flex-row justify-center">
  <div class="md:w-1/2 md:p-10 flex content-evenly">
    <ul class="list-disc list-inside md:space-y-8">
      <li>
        Track organic shares across earned media, including links other Bitly users create that point to your content
      </li>
      <li>
        Get insights down to the local city-level to see what content your audience is excited about
      </li>
      <li>
        Export click data into other analytics for ad-hoc reporting and deeper analysis on your audiences and content
      </li>
    </ul>
  </div>
  <div class="md:w-1/2">
    <img [src]="status" alt="" class="px-4">
  </div>
</div>
  



 