<!-- <div class="login flex items-center justify-around h-screen flex-1 bg-green-100">
    <div class="flex flex-col justify-center bg-slate-100 p-10 rounded-lg shadow-2xl ">
        <div class="flex justify-center mb-3">
            <h1 class="lg:text-xl sm:text-xs mb-3 font-bold">Sign up and start shortening</h1>
        </div>
        <div class="flex justify-center w-full">
            <div class="flex flex-col text-sm rounded-md w-full">
                <label for="username" class="mb-1">Username:</label>
                <input id="username" class="mb-5 border p-3 hover:outline-none focus:outline-none hover:border-green-400 " type="text" placeholder="Enter your username">
    
                <label for="email" class="mb-1">Email:</label>
                <input id="email" class="mb-5 border p-3 hover:outline-none focus:outline-none hover:border-green-400 " type="email" placeholder="Enter your email">
    
                <label for="password" class="mb-1">Password:</label>
                <input id="password" class="border p-3 hover:outline-none focus:outline-none hover:border-green-400 " type="password" placeholder="Enter your password">
            </div>
        </div>
    </div>
    <div class="flex flex-col justify-center">
        <div class="flex justify-center mb-3">
            <h1 class="lg:text-xl sm:text-xs mb-3 font-bold">Sign up and start shortening</h1>
        </div>
        <div class="flex justify-center w-full">
            <div class="flex flex-col text-sm rounded-md w-full">
                <label for="username" class="mb-1">Username:</label>
                <input id="username" class="mb-5 border p-3 hover:outline-none focus:outline-none hover:border-green-400 " type="text" placeholder="Enter your username">
    
                <label for="email" class="mb-1">Email:</label>
                <input id="email" class="mb-5 border p-3 hover:outline-none focus:outline-none hover:border-green-400 " type="email" placeholder="Enter your email">
    
                <label for="password" class="mb-1">Password:</label>
                <input id="password" class="border p-3 hover:outline-none focus:outline-none hover:border-green-400 " type="password" placeholder="Enter your password">
            </div>
        </div>
    </div>
</div>

 -->
<router-outlet></router-outlet>